body {
    width: 1920px;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
}

.section_1 {
    /*background: #000;*/
    height: 959px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background: url(../img/line2_bg.png);
}

#line1_left {
    float: left;
    width: 1859px;
}

#line1_center {
    text-align: left;
    padding: 19px 0 0 660px;
}

div#line1_center > span {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.36ex;
}

#line1_right {
    float: right;
    color: white;
    padding: 17px 30px 14px 0;

}

.block_1 {
    background: #000;
    height: 65px;
}

.block_2 {
    height: 84px;
    margin: 0;
    padding: 0;

}

.block_2 span {
    display: inline-block;
    vertical-align: text-top;
    margin: 0;
}

.line2_left > span:nth-child(2) {
    margin-top: 4px;
    padding: 9px 18px 4px 16px;
    margin-left: 16px;
    border-left: 3px solid #000;
}

.line2_left {
    padding: 0;
    margin-left: 108px;
    margin-top: 12px;
    float: left;
}

nav {
    margin-left: 198px;
    margin-top: 14px;
    float: left;
}

nav ul {
    list-style: none;
}

nav ul a, #line1_right a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}


nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li:nth-child(2) {
    margin-right: 31px;
}

nav a:hover,
.slider li i:hover,
div.flex-container.icons-text a:hover {
    color: #fdcb6a;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;

}

#line1_right img:hover {
    filter: saturate(200) hue-rotate(200deg) ;
    -webkit-transition: filter 0.5s;
    -moz-transition: filter 0.5s;
    -ms-transition: filter 0.5s;
    -o-transition: filter 0.5s;
    transition: filter 0.5s;
}

.slider {
    margin-left: 1224px;
    margin-top: 470px;
    padding-bottom: 204px;
    font-size: 45px;
    line-height: 45px;
}

.slider ul {
    list-style: none;
}

.slider ul li {
    display: inline-block;
    margin-left: 11px;
}

.slider ul li:last-child {
    border-left: 1px solid #000;
    padding-left: 28px;
    margin-left: 18px;
}

.block_3 {
    height: 210px;
    /*background: #333;*/
    margin-top: 46px;
}

.helper_block_3 > .flex-container > p {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: -webkit-linear-gradient(left, #0e1657, #056ab2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-container p {
    display: inline-flex;
    padding-right: 62px;

}

.flex-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.features {
    /*margin-left: 62px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
}

.helper_block_3 {
    padding-top: 18px;
    margin-left: 66px;
}

.features > div {
    width: 250px;

}

.features > div div {
    /*width: 180px;*/
    display: table;
    margin-left: 12px;
}

.icons-text {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial;
}

.icons-text sup {
    font-size: 10px;
    text-transform: uppercase;
}

div.flex-container.icons-text:nth-child(4n) {
    padding-left: 16px;
}

div.flex-container.icons-text:nth-child(3n) {
    padding-left: 10px;
}

div.flex-container.icons-text:nth-child(5n) {
    padding-left: 46px;
}

div.flex-container.icons-text a {
    text-decoration: none;
    color: #000;
}